*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  /* --sidebar-color: #57c4e5; */
  --sidebar-color: #212738;
  --bg-color: #edf2ef;
  --accent-color1: #d1d646;
  --accent-color2: #f97068;
  --text-color-dark: #212738;
  --text-color-light: #363944;
  --nav-font-size: 1.5rem;
}

.layout {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
    "sidebar header header header header header"
    "sidebar main main main main announcements"
    "sidebar main main main main trending";
}

.sidebar {
  background-color: var(--sidebar-color);
  grid-area: sidebar;
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 50px;
}

.header {
  background-color: var(--accent-color2);
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 15px;
  height: max-content;
  align-items: center;
  padding: 25px;
}

.main-content {
  background-color: var(--accent-color1);
  grid-area: main;
  padding: 20px;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: var(--bg-color);
  min-height: min-content;
  border-radius: 5px;
  border-left: 7px solid var(--accent-color2);
  box-shadow: 3px 3px 5px gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.project-title {
  font-size: calc(var(--nav-font-size) * 0.9);
  font-weight: 500;
}

.project-description {
  color: var(--text-color-light);
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.card-icons .icon {
  fill: black;
}

.announcements {
  background-color: var(--sidebar-color);
  grid-area: announcements;
}

.trending {
  background-color: var(--sidebar-color);
  grid-area: trending;
}

.icon {
  height: calc(var(--nav-font-size) * 0.9);
  fill: white;
  display: inline-block;
  justify-self: center;
}

.link {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  padding-left: 20px;
  color: white;
  font-size: var(--nav-font-size);
}

.link-main {
  margin-top: 15px;
  font-size: calc(var(--nav-font-size) + 0.4rem);
}

.icon-main {
  height: calc(var(--nav-font-size) + 1rem);
}

.avatar-small {
  height: 50px;
}

.avatar-large {
  height: 75px;
}

.search {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header .icon {
  fill: black;
  height: calc(var(--nav-font-size) + 0.3rem);
}

.search-bar {
  flex-grow: 1;
  border-radius: 15px;
  border: 1px solid var(--sidebar-color);
  padding: 3px;
}

.account {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-name {
  font-size: var(--nav-font-size);
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 25px;
}

.btn {
  font-size: calc(var(--nav-font-size) - 0.3rem);
  background-color: var(--sidebar-color);
  cursor: pointer;
  color: white;
  width: 110px;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
}

.btn:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-color2);
  text-decoration-thickness: 3px;
}