*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  /* --sidebar-color: #57c4e5; */
  --sidebar-color: #212738;
  --bg-color: #edf2ef;
  --accent-color1: #d1d646;
  --accent-color2: #f97068;
  --text-color-dark: #212738;
  --nav-font-size: 1.5rem;
}

.layout {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "sidebar header header header header"
    "sidebar main main main announcements"
    "sidebar main main main trending";
}

.sidebar {
  background-color: var(--sidebar-color);
  grid-area: sidebar;
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 50px;
}

.header {
  background-color: var(--accent-color2);
  grid-area: header;
}

.main-content {
  background-color: var(--accent-color1);
  grid-area: main;
}

.announcements {
  background-color: var(--sidebar-color);
  grid-area: announcements;
}

.trending {
  background-color: var(--sidebar-color);
  grid-area: trending;
}

.icon {
  height: calc(var(--nav-font-size) * 0.9);
  fill: white;
  display: inline-block;
  justify-self: center;
}

.link {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  padding-left: 20px;
  color: white;
  font-size: var(--nav-font-size);
}

.link-main {
  font-size: calc(var(--nav-font-size) + 0.4rem);
}

.icon-main {
  height: calc(var(--nav-font-size) + 1rem);
}